<div class="row">
  <div class="col-md-4">
    <div class="title-container">
      <div class="title">Verticals Comparison</div>
    </div>
  </div>

  <div class="col-md-4">
  </div>

  <div class="col-md-4">
    <div class="vendor-container">
      <div class="data-container">
        <div class="id">DX</div>
        <div class="detail">Vendor ID</div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <div class="offer-container">
      <div class="data-container">
        <div class="title">Offer Packs Comparison</div>
        <div id="offer"></div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <div class="extension-container">
      <div class="data-container">
        <div class="title">Extension Packs Comparison</div>
        <div id="extension"></div>
      </div>
    </div>
  </div>
</div>
