.title-container {
  width: 783px;
  height: 79px;
  border-radius: 3px;
  background-color: #2d3136;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.4);
  float: left;
  display: inline-flex;
}

.title-container > .title {
  height: 35px;
  font-family: Roboto;
  font-size: 30px;
  font-weight: bold;
  text-align: left;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 18px;
  color: #ffffff;
  line-height: normal;
}

.data-container {
  margin: auto;
}

.vendor-container {
  width: 382px;
  height: 79px;
  border-radius: 3px;
  background-color: #393e44;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.4);
  float: left;
  display: inline-flex;
  margin-left: -15px;
}

.data-container > .id {
  height: 24px;
  font-family: Roboto;
  font-size: 20px;
  text-align: center;
  color: #ffffff;
  line-height: normal;
}

.vendor-container > .data-container > .detail {
  height: 18px;
  opacity: 0.5;
  font-family: Roboto;
  font-size: 15px;
  text-align: center;
  color: #ffffff;
  line-height: normal;
  margin-top: 5px;
}

.offer-container, .extension-container {
  width: 1191px;
  height: 372px;
  border-radius: 3px;
  background-color: #393e44;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.4);
  float: left;
  margin-top: 20px;
}

.offer-container > .data-container > .title,
.extension-container > .data-container > .title {
  height: 24px;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  text-align: left;
  color: #ffffff;
  margin-top: 16px;
  margin-left: 16px;
}

