<div class="row">
  <div class="col-md-4">
    <div class="title-container">
      <div class="title">Services Usage</div>
    </div>
  </div>

  <div class="col-md-4">
  </div>

  <div class="col-md-4">
    <div class="vendor-container">
      <div class="data-container">
        <div class="id">DX</div>
        <div class="detail">Vendor ID</div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col">
    <div class="timeline-container">
      <div class="data-container">
        <div class="title">Timeline Usage Graph</div>
        <div id="timeline"></div>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="comparison-container">
      <div class="data-container">
        <div class="title">Total Usage Comparison</div>
        <div id="comparison"></div>
      </div>
    </div>
  </div>
</div>
