<div class="row">
  <div class="col-md-4">
    <div class="total-users-container">
      <div class="data-container">
        <div class="number">9,204</div>
        <div class="detail">Total Users</div>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="new-users-container">
      <div class="data-container">
        <div class="number">+54</div>
        <div class="detail">Users this Week</div>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="row">
      <div class="vendor-container">
        <div class="data-container">
          <div class="id">DX</div>
          <div class="detail">Vendor ID</div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="date-update-container">
        <div class="data-container">
          <div class="id">Sunday, 31 Dec 2017</div>
          <div class="detail">Last Data Update</div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-3">
    <div class="top3-services-container">
      <div class="data-container">
        <div class="title">Top 3 Services</div>
        <div id="top3services" class="c3-line"></div>
      </div>
    </div>
  </div>
</div>
