/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 221px;
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #2d3136;
  overflow-x: hidden; /* Disable horizontal scroll */
}

.sidenav-header {
  width: 221px;
  height: 80px;
  background-color: #393e44;
  padding-top: 25px;
  padding-left: 30px;
}

.sidenav-header a {
  width: 163px;
  font-family: Roboto;
  font-size: 22px;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
}

.sidenav-content {
  padding-top: 25px; /* Place content 25px from the top */
}

/* The navigation menu links */
.menu-selector {
  width: 4px;
  height: 32px;
  /*padding: 0px 0px 0px 0px;*/
  background-color: #4ed8da;
  float: left;
}

.icon-dash {
  width: 15px;
  height: 15px;
  object-fit: contain;
  float: left;
  margin-top: 8px;
  margin-left: 29px;
  overflow: hidden;
}

.sidenavitem {
  padding-left: 75px;
  padding-right: 56px;
  padding-bottom: 30px;
  margin-top: 5px;
}

.sidenavitem a {
  width: 86px;
  font-family: Roboto;
  font-size: 16px;
  text-align: left;
  color: #ffffff;
  text-decoration: none;
}

/* When you mouse over the navigation links, change their color */
.sidenavitem a:hover {
  color: #4ed8da;
}
