<div id="sideMenu" class="sidenav">
  <div class="sidenav-header">
    <a routerLink="/" (click)="selectedItem='dashboard'">Usage Analytics</a>
  </div>

  <div class="sidenav-content">
    <div class="menu-selector"
         [ngStyle]="{backgroundColor: selectedItem === 'dashboard' ? '#4ed8da' : 'transparent'}"></div>
    <img [src]="'../../assets/menu-icons/' + (selectedItem === 'dashboard' ? 'selected' : 'unselected') + '/icon-dash.png'" class="icon-dash">
    <div class="sidenavitem">
      <a routerLink="dashboard"
         (click)="selectedItem='dashboard'"
        [ngStyle]="{color: selectedItem === 'dashboard' ? '#4ed8da' : ''}">Dashboard</a>
    </div>

    <div class="menu-selector"
         [ngStyle]="{backgroundColor: selectedItem === 'platforms' ? '#4ed8da' : 'transparent'}"></div>
    <img [src]="'../../assets/menu-icons/' + (selectedItem === 'platforms' ? 'selected' : 'unselected') + '/database-regular.png'" class="icon-dash">
    <div class="sidenavitem">
      <a routerLink="platforms"
         (click)="selectedItem='platforms'"
         [ngStyle]="{color: selectedItem === 'platforms' ? '#4ed8da' : ''}">Platforms</a>
    </div>

    <div class="menu-selector"
         [ngStyle]="{backgroundColor: selectedItem === 'services' ? '#4ed8da' : 'transparent'}"></div>
    <img [src]="'../../assets/menu-icons/' + (selectedItem === 'services' ? 'selected' : 'unselected') + '/line-chart.png'" class="icon-dash">
    <div class="sidenavitem">
      <a routerLink="services"
         (click)="selectedItem='services'"
         [ngStyle]="{color: selectedItem === 'services' ? '#4ed8da' : ''}">Services</a>
    </div>

    <div class="menu-selector"
         [ngStyle]="{backgroundColor: selectedItem === 'verticals' ? '#4ed8da' : 'transparent'}"></div>
    <img [src]="'../../assets/menu-icons/' + (selectedItem === 'verticals' ? 'selected' : 'unselected') + '/shape.png'" class="icon-dash">
    <div class="sidenavitem">
      <a routerLink="verticals"
         (click)="selectedItem='verticals'"
         [ngStyle]="{color: selectedItem === 'verticals' ? '#4ed8da' : ''}">Offers Packs</a>
    </div>
  </div>
</div>

