<div id="sideMenu" class="sidenav">
  <div class="sidenav-header">
    <a routerLink="/">Usage Analytics</a>
  </div>
  <div class="sidenav-content">
    <div class="menu-selector"></div>
    <img src="img/icon-dash.png"
         srcset="img/icon-dash@2x.png 2x,
					 img/icon-dash@3x.png 3x"
         class="icon-dash">

    <div class="sidenavitem">
      <a routerLink="dashboard">Dashboard</a>
    </div>
    <div class="sidenavitem">
      <a routerLink="platforms">Platforms</a>
    </div>
    <div class="sidenavitem">
      <a routerLink="services">Services</a>
    </div>
    <div class="sidenavitem">
      <a routerLink="verticals">Verticals</a>
    </div>
  </div>
</div>
